
/**
 * AppDirect logo.
 */

.logo[data-logo="AppDirect"] {
  width: 0;
}

.logo[data-logo="AppDirect"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="AppDirect"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="AppDirect"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
